@import 'nib'

@font-face {
    font-family: 'DIN';
    font-weight: 200;
    src: url('../font/dinl____.eot');
    src: url('../font/dinl____.eot') format('embedded-opentype'),
         url('../font/dinl____.woff') format('woff'),
         url('../font/dinl____.ttf') format('truetype'),
         url('../font/dinl____.svg#DINLightRegular') format('svg');
}


@font-face {
    font-family: 'DIN';
    font-weight: 400;
    src: url('../font/dinm____.eot');
    src: url('../font/dinm____.eot') format('embedded-opentype'),
         url('../font/dinm____.woff') format('woff'),
         url('../font/dinm____.ttf') format('truetype'),
         url('../font/dinm____.svg#DINMediumRegular') format('svg');
}
    
@font-face {
    font-family: 'Clarendon';
    src: url('../font/clarendonltstd-webfont.eot');
    src: url('../font/clarendonltstd-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/clarendonltstd-webfont.woff') format('woff'),
         url('../font/clarendonltstd-webfont.ttf') format('truetype'),
         url('../font/clarendonltstd-webfont.svg#clarendon_lt_stdregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

// TODO create layout helpers file

// set up the grid
numcols = 12
for cols in (1..numcols)
    .push-{cols}
        left (cols/numcols) * 100%
    .pull-{cols}
        right (cols/numcols) * 100%
    .span-{cols}
        position relative
        width (cols/numcols) * 100%
        .align-corners & + [class*="span-"]
            margin-left (cols/numcols) * 100%

// TODO create separate settings file
// control as much of appearance as is reasonable through the config settings
// to allow for customization per-event without having to dig into the actual css
colors = {
    blue: #1C9BE6
    slate: #212223
}

sizes = {
    small: 16px
    base: 21px
    large: 24px
    larger: 31px
}
for size in sizes
    .typ-{size}
        font-size: sizes[size]

global-reset()

body
    padding-top 0px
    font-family 'DIN'
    font-weight: 200
    font-size: sizes.base
    line-height 1.3
    -webkit-font-smoothing: antialiased
    background: colors.slate

p
    margin 1em 0

em
    font-weight 400

a
    text-decoration none
    color inherit

h1
    font-size: sizes.larger

h4
    font-size: sizes.large
    text-transform uppercase

h5
    font-weight: 400
    margin-top: 1em
    margin-bottom: 0
    font-size: sizes.large

h6
    text-transform uppercase
    font-size: sizes.base
    font-weight: 400

hr
    width 100px
    background: rgba(colors.slate, .1)
    height 1px
    border: 0px 
    outline: 0px
    text-align: left
    margin 1rem 0px

.typ-right
    text-align right

.background
    position fixed
    top 0 
    left 0
    right 0
    bottom 0
    background url('../img/background.jpg') center center no-repeat
    -webkit-filter: contrast(140%)
    background-size cover
    z-index -1

    &::before, &::after
        content ""
        absolute top 0 left 0
        bottom 0
        right 0
        z-index 10

    &::before
        background: rgba(colors.slate, .7)

    &::after
        background: rgba(colors.blue, .4)
        z-index 9

// buttons are pills by default
.button
    text-transform: uppercase
    background: rgba(black, .2)
    color: white
    padding 8px 18px

    transition: all .2s

    &:hover
        background: rgba(black, .5)

    &.large
        padding 12px 27px
        font-size: sizes.large
        border-radius: 28px


.section
    clear both
    max-width 1280px
    margin 50px 0 100px 0
    margin-right 50px

    &.space-above
        margin-top 150px


.row
    &.blue
        background: rgba(colors.blue, .9)
        color white
    [class*="span-"]
        display inline-block
        vertical-align top

.list
    font-size: sizes.larger

    .row
        .box
            padding: 10px 20px


.box
    padding 20px
    // background colors
    box-sizing border-box
    color white

    &.title
        text-align right

    &.left
        padding-left 45px 

    &.blue
        background: rgba(colors.blue, .9)
        color: white

    &.slate
        background: colors.slate
        color: white

    &.white
        background: white
        color: colors.slate

    &.copy
        padding-left 40px
        padding-right 40px


.info-list
    padding-left 40px
    margin-bottom -30px
    margin-top -40px
    padding-top 30px
    color white
    box-sizing border-box
    li
        display inline-block
        width auto
        margin-right 50px
        margin-bottom 30px

        p
            margin 0
            @extend .typ-larger

.pilot-logo
    background: url('../img/arc_white.svg') center center no-repeat
    background-size: contain
    display block
    width: 100px
    height: 45px
    text-indent: -400px
    margin-top 12px
    margin-bottom 15px
    margin-left 30px

/* Section specific styles/map sections to types above */

.faq
    h5 + p
        margin-top .5em

.schedule
    @extends .list

    .box.title
        margin-bottom -82px

    .day-title
        padding-top 40px

        h6 span
            border-bottom 1px solid white
            padding-bottom 5px

    .box
        vertical-align bottom

.workshops
    h5 span
        font-weight 100
        color: colors.blue
        margin-right 10px

.title-bar
    h1
        display inline-block
        vertical-align top
    >:last-child
        padding-top 15px

