@import 'nib'
@import '_settings'
@import '_fonts'

blue = #78BAE2
bordersize = 2px
borderdist = -10px
bordertopoffset = 115px
maxwidth = 1200px
global-reset()

html
    width 100%
    height 100% !important

body
    width 100%
    height 100%
    color white
    font-family DIN
    font-weight 200
    font-size 22px
    line-height 1.4
    background-image url(../img/pic1_blur.jpg)
    background-size 100% 100%

a
    text-decoration none

    &:hover
        border-bottom 1px solid blue

strong
    font-weight 500


#wrapper
    position relative
    max-width 1200px
    margin 0px auto

p
    margin 19px 0

h1,h2,h3,h4,h5,h6
    font-weight normal
h1
    font-family: Clarendon;
    font-size: 102px;
    text-shadow: 1px 2px 0px #000000;
    margin-bottom: 0

h2
    font-family: DIN
    font-weight 200
    font-size: 56px
    margin .5em 0
    

h3
    font-family: DIN 
    font-weight 200
    font-size: 34px
    margin-top: 0

h1 + h3
    margin-top: 15px


.black
    color #333

.blue
    color blue

.white
    color white

.wrap, header 
    max-width maxwidth
    margin 0px auto

.content
    max-width 900px

.upper
    text-transform uppercase

.small
    font-family DIN
    font-size 18px

.sans-serif
    font-family DIN
    font-weight 400

.sans-serif-thin
    font-family DIN
    font-weight 200

.serif
    font-family Clarendon

.center
    margin 0px auto
    text-align center

.pull-left
    display inline
    float left

.pull-right
    display inline
    float right

.pull-bottom
    position absolute
    bottom 0

    &.pull-right
        right 0

    &.pull-left
        left 0

    &.center
        left 0
        right 0

.vertical-align
    position absolute
    top 0
    bottom 0
    margin auto

    &.pull-right
        right 0

    &.pull-left
        left 0

    &.center
        left 0
        right 0
        text-align center

#title
    margin auto
    margin-bottom 15px
    padding-top 0px
    font-size 60px
    color white

#subtitle
    font-size 50px

#actions
    list-style-type decimal
    font-size 30px
    margin-top 50px
    font-weight 400

    #list-title
        margin-left 20px

    li
        font-weight 200
        margin-left 10%

.button
    display inline-block
    width 100%
    margin 25px
    padding 15px
    border-radius 10px
    color white
    font-size 26px
    text-align center
    vertical-align center
    background-color white
    line-height 100%
    
    i
        display inline-block
        text-align center
        font-size 1em
        width 30px
        padding 10px
        line-height 100%
        border-right 2px solid white
        float left

    span
        display inline-block
        padding 10px
        text-align center
        height 100%
        line-height 100%

    &:hover
        text-decoration none
        border-bottom none

.button-container
    display block
    margin auto
    width auto
    text-align center

#eventButton
    background-color #78BAE2
    width 400px
    margin-left 0
    margin-right 0

    &:hover
        background-color #588AB2

#tweet
    background-color #4099ff
    width 200px

    &:hover
        background-color #1068df

#share
    background-color #3b5998
    width 200px

    &:hover
        background-color #0b2968

@media(max-width: 900px)
    .wrap
        padding-left 40px
        padding-right 40px

    .button
        margin 20px

    li
        margin-left 4%

    #title 
        line-height 65px
        margin-top 20px

@media(max-width: 525px)
    .wrap
        padding-left 20px
        padding-right 20px
    #eventButton
        width 90%

@media(max-width: 430px)
    #eventButton
        width 100%
        padding 15px
        margin-left -10%

        span
            font-size 23px
            padding-right 5px

    #share
        margin-top 15px

    .button
        margin-top 25px
        margin-bottom 25px
        margin-left -10px
        width 100%

    #actions
        margin-left 20px

        #list-title
            margin-left -35px

        li
            margin-left 5px




