@import 'nib'
@import '_settings'
@import '_fonts'

blue = #78BAE2
dark-blue = #589AC2
green = #7fc028
dark-green = #5FA00B
bordersize = 2px
borderdist = -10px
bordertopoffset = 115px
maxwidth = 1200px
global-reset()

html
    width 100%
    height 100% !important

body
    width 100%
    height 100%
    color white
    font-family DIN
    font-weight 200
    font-size 22px
    line-height 1.4

a
    text-decoration none

    &:hover
        border-bottom 1px solid blue

strong
    font-weight 500

section
	width 100%
	padding 20px 0px

	&.light
		background white
		color #333

	&.dark
		background #333
		color white

	&.blue
		background blue
		color white

#wrapper
    position relative
    max-width 1200px
    margin 0px auto

p
    margin 19px 0

h1,h2,h3,h4,h5,h6
    font-weight normal
h1
    font-family: Clarendon;
    font-size: 102px;
    text-shadow: 1px 2px 0px #000000;
    margin-bottom: 0

h2
    font-family: DIN
    font-weight 200
    font-size: 56px
    margin .5em 0
    

h3
    font-family: DIN 
    font-weight 200
    font-size: 34px
    margin-top: 0

h1 + h3
    margin-top: 15px


.black
    color #333

.blue
    color blue

.white
    color white

.wrap, header 
    max-width maxwidth
    margin 0px auto

.content
    max-width 900px

.upper
    text-transform uppercase

.small
    font-family DIN
    font-size 18px

.sans-serif
    font-family DIN
    font-weight 400

.sans-serif-thin
    font-family DIN
    font-weight 200

.serif
    font-family Clarendon

.center
    margin 0px auto
    text-align center

.pull-left
    display inline
    float left

.pull-right
    display inline
    float right

.pull-bottom
    position absolute
    bottom 0

    &.pull-right
        right 0

    &.pull-left
        left 0

    &.center
        left 0
        right 0

.vertical-align
    position absolute
    top 0
    bottom 0
    margin auto

    &.pull-right
        right 0

    &.pull-left
        left 0

    &.center
        left 0
        right 0
        text-align center

#header
	font-family Clarendon
	font-size 70px

.item
	margin 10px
	padding 10px
	border-radius 10px
	border 3px solid rgba(0, 0, 0, 0)
	position relative
	cursor pointer
	height 530px

	&.selected
		border 3px solid green

	.check
		color green
		font-size 30px
		position absolute
		top 10px
		left 10px
		display none

		&.visible
			display block

	.title
		width 100%
		text-align center
		font-size 30px
		font-weight 500
		font-family Clarendon
		color blue

	.img
		display block
		margin auto
		width 90%

	.description
		width 100%
		text-align center

	.click
		width 100%
		text-align center
		color blue
		position absolute
		bottom 0

#button-container
	display block
	width 90%
	margin auto
	position relative
	overflow hidden

	.above
		position relative
		top 0
		z-index 2
		transition opacity 0.5s
		transition-delay 0s
		opacity 0.0

		&.visible
			opacity 1.0
			transition-delay 1s

		// &.invisible
		// 	opacity 0.0
	.slide-container
		display block
		width 100%
		height 240px
		position relative
		overflow hidden

		.underneath
			position relative
			top -240px
			transition top 1s
			transition-delay 0.25s

			&.visible
				top 0px
				transition-delay 0s

			.close
				position absolute
				top 0
				left 0
				font-size 25px
				opacity 0.7
				color gray
				transition opacity 0.5s
				transition color 0.5s

				&:hover
					color black
					opacity 1.0

	.inputs
		margin auto
		input
			height 50px
			padding 15px
			font-size 30px
			width 50%
			display block
			margin 20px auto
			text-align center

	.button
	    display inline-block
	    width 100%
	    box-sizing border-box
	    height 60px
	    padding 15px
	    border-radius 10px
	    color white
	    font-size 26px
	    text-align center
	    vertical-align center
	    background blue
	    line-height 100%
	    position relative
	    cursor pointer
	    transition background 1s
	    
	    i
	    	margin 0px 10px
	    
	    &:hover
	        text-decoration none
	        border-bottom none
	        background dark-blue

	    &.double
	    	padding 0px
	    	.half-button
	    		width 50%
	    		padding 15px
	    		height 100%
	    		&.left
		    		float left
		    		border-top-left-radius 10px
		    		border-bottom-left-radius 10px
		    		background blue
		    		&:hover
		    			background dark-blue

		    	&.right
		    		float right
		    		border-top-right-radius 10px
		    		border-bottom-right-radius 10px
		    		background green
		    		&:hover
		    			background dark-green
		    	



