!!!
html(style="width: 100%; height: 100%;")
    head
        meta(charset='utf8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
        meta(name='description', content='Your registration is complete!')
        meta(property='og:title', content="PilotDC - What can you build in a day?")
        meta(property="og:url", content="http://dc.gopilot.org/")
        meta(property="og:site_name", content="PilotDC")
        meta(property="og:type", content="event")
        meta(property="og:image", content="http://dc.gopilot.org/img/logo_fb.png")
        meta(name='author', content= "Pilot")
        meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1")

        title="Registration Complete!"

        link(rel='stylesheet', href='/css/font-awesome/css/font-awesome.css')
        link(rel='stylesheet', href='/css/confirmation.css')
        script.
            var fb_param = {};
            fb_param.pixel_id = '6012903874317';
            fb_param.value = '0.01';
            fb_param.currency = 'USD';
            (function(){
            var fpw = document.createElement('script');
            fpw.async = true;
            fpw.src = '//connect.facebook.net/en_US/fp.js';
            var ref = document.getElementsByTagName('script')[0];
            ref.parentNode.insertBefore(fpw, ref);
            })();
        noscript
            img(height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/offsite_event.php?id=6012903874317&amp;value=0.01&amp;currency=USD")
    body
        div.wrap.full
            h2.center.serif#title We'll see you at #{document.title}!
            h4.center.sans-serif Keep your eyes out for emails from us!
            ol#actions 
                span.serif#list-title What now?
                li You MUST print out and sign your waivers
                div.button-container
                    a(href="/waiver.pdf" class="button button-large" id="waiverButton" target="_blank")
                        i.fa.fa-print
                        span.button-text Print waivers >
                li Join the Facebook event to see who else is going!
                div.button-container
                    a(href=document.facebook_event class="button button-large" id="eventButton" target="_blank")
                        i.fa.fa-calendar
                        span.button-text Facebook Event >
                li Follow us to get updates!
                div.button-container
                    a(href="https://facebook.com/grabtheyoke" class="button button-small" id="facebookLike" target="_blank")
                        i.fa.fa-thumbs-up
                        span.button-text Pilot
                    a(href="https://twitter.com/grabtheyoke" class="button button-small" id="twitterFollow" target="_blank")
                        i.fa.fa-twitter
                        span.button-text @GrabTheYoke
                //- li Invite your friends!
                //- div.button-container
                //-     a(href="https://twitter.com/share?url="+encodeURIComponent(document.share_url)+"&text="+encodeURIComponent(document.tweet) class="button button-small" id="tweet" target="_blank")
                //-         i(class="fa fa-twitter")
                //-         span(class="button-text") Tweet             
                //-     a(href="https://www.facebook.com/sharer/sharer.php?u="+encodeURIComponent(document.share_url) class="button button-small" id="share" target="_blank")
                //-         i.fa.fa-facebook
                //-         span.button-text Share
